/* global */
* {	margin: 0; padding: 0;	box-sizing: border-box; outline: none; list-style: none; }
html, body { height: 100%; }
input, textarea { border-radius: 0; }
textarea { resize: none; overflow-y: auto; }
input, input:focus, textarea:focus, select:focus, button, button:focus { outline: 0; }

/* context */
.center { width: 100%; max-width: 1440px; margin: 0 auto;	padding: 0 2%; }

/* float  */
.fll { float: left; }
.flr { float: right; }
.clb { clear: both; }

/* displays */
.dnn { display: none; }
.dbk { display: block; }
.dib { display: inline-block; }
.din { display: inline;  }
.dfx { display: flex; }

/* margins */
.m0-a { margin: 0 auto; }
.ma10 { margin: 10px; }
.ma20 { margin: 20px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }

/* paddings */
.pa10 { padding: 10px; }
.pa20 { padding: 20px; }
.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.pl10 { padding-left: 10px; }
.pl20 { padding-left: 20px; }

/* widths */
.w100 { width: 100%; }
.w90 { width: 89.5%; }
.w80 { width: 79.5%; }
.w75 { width: 74.5%; }
.w70 { width: 69.5%; }
.w60 { width: 59.5%; }
.w50 { width: 49.5%; }
.w40 { width: 39.5%; }
.w33 { width: 33.33% }
.w30 { width: 29.5%; }
.w25 { width: 24.5%; }
.w20 { width: 19.5%; }
.w10 { width: 9.5%; }

/* backgrounds */
.bg-dark { background-color: #2b2b2b; }
.bg-light { background-color: #eaeaea; }
.bg-trpt { background-color: transparent; }

/* text  */
.tac { text-align: center; }
.taj { text-align: justify; }
.tal { text-align: left; }
.tar { text-align: right; }
.fz10 { font-size: 10px; }
.fz12 { font-size: 12px; }
.fz14 { font-size: 14px; }
.fz15 { font-size: 15px; }
.fz16 { font-size: 16px; }
.fz17 { font-size: 17px; }
.fz18 { font-size: 18px; }
.fz19 { font-size: 19px; }
.fz20 { font-size: 20px; }
.fz22 { font-size: 22px; }
.fz24 { font-size: 24px; }
.fz26 { font-size: 26px; }
.fz28 { font-size: 28px; }
.fz30 { font-size: 30px; }
.fz32 { font-size: 32px; }
.fz34 { font-size: 34px; }
.fz36 { font-size: 36px; }
.fz38 { font-size: 38px; }
.fz40 { font-size: 40px; }
.fz42 { font-size: 42px; }
.fz44 { font-size: 44px; }
.fz46 { font-size: 46px; }
.fz48 { font-size: 48px; }
.fz50 { font-size: 50px; }
.fz52 { font-size: 52px; }
.fz54 { font-size: 54px; }
.fz56 { font-size: 56px; }
.fz58 { font-size: 58px; }
.fz60 { font-size: 60px; }
.fz62 { font-size: 62px; }
.fz64 { font-size: 64px; }
.fz66 { font-size: 66px; }
.fz68 { font-size: 68px; }
.fz70 { font-size: 70px; }
.fz72 { font-size: 72px; }
.fz74 { font-size: 74px; }
.fz76 { font-size: 76px; }
.fz78 { font-size: 78px; }
.fz80 { font-size: 80px; }
.fz82 { font-size: 82px; }
.fz84 { font-size: 84px; }
.fz86 { font-size: 86px; }
.fz88 { font-size: 88px; }
.fz90 { font-size: 90px; }
.fz92 { font-size: 92px; }
.fz94 { font-size: 94px; }
.fz96 { font-size: 96px; }
.fz98 { font-size: 98px; }
.fz100 { font-size: 100px; }
