@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "./boot.css";

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #5b5b5b; cursor: pointer; }
::-webkit-scrollbar-thumb { background: #1b1b1b; transition: .15s; }
::-webkit-scrollbar-thumb:hover { background: #0b0b0b; }
* {	font-family: Roboto, sans-serif; }

body {
	position: relative;
	background-color: #eaeaea;
}

header {
	width: calc(100% - 300px);
	padding: 10px 1%;
	background: #3b3b3b;
	position: relative;
	left: 300px;
}

header .button a {
	color: #fff;
	font-size: 22px;
	padding: 10px 15px;
	text-decoration: none;
	transition: .15s;
}

header .button a:hover {
	background: #2b2b2b;
}

header .aside-btn {
	color: #fff;
	font-size: 22px;
	text-decoration: none;
	cursor: pointer;
}

aside {
	width: 300px;
	height: 100%;
	background: #2b2b2b;
	position: fixed;
	left: 0;
	top: 0;
	overflow-y: auto;
	padding: 0 15px;
}

aside .user {
	padding: 30px 2%;
	text-align: center;
	color: #7b7b7b;
	font-size: 18px;
}

aside .user .nome {
	color: #f5f5f5;
	font-size: 22px;
	margin-bottom: 5px;
}

aside .user .avatar {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border: 2px solid #5b5b5b;
	border-radius: 50%;
	margin-bottom: 8px;
	position: relative;
}

aside .user .avatar svg {
	font-size: 72px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

aside .user .avatar img {
	width: 100%;
	height: 100%;
	text-align: center;
	border-radius: 50%;
}

aside .menu-items h2 {
	text-align: left;
	font-weight: 300;
	font-size: 18px;
	background: #3b3b3b;
	padding: 8px 12px;
	color: #fff;
}

aside .menu-items a {
	width: 100%;
	display: block;
	text-align: left;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	padding: 20px 15px;
	text-decoration: none;
	transition: .15s;
}

aside .menu-items a:hover {
	background: #3b3b3b;
}

aside .menu-items a:not(:last-child) {
	border-bottom: 1px solid #4b4b4b;
}

aside .menu-items a.selected-menu {
	background-color: #1b1b1b;
}

aside .menu-items a.selected-menu:hover {
	background-color: #0b0b0b;
}

aside .menu-items i,
aside .menu-items svg {
	min-width: 30px;
	font-size: 18px;
}

main {
	width: calc(100% - 300px);
	position: relative;
	left: 300px;
	padding: 10px 20px;
}

main .main__box {
	background: #fff;
	padding: 15px 2%;
  margin-top: 1%;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(205, 205, 205);
}

main .main__box p {
  font-size: 18px;
  color: #2b2b2b;
}

main .main__box a {
  font-size: 18px;
  color: #2b2b2b;
}

main .main__box h2 {
	font-size: 26px;
	font-weight: 400;
	color: #2b2b2b;
}

main .main__box h2 span {
	color: #015fd7;
}

main .main__box table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
}

main .main__box table tr:nth-of-type(1) {
  background-color: #4db6ac;
  color: #fff;
  font-weight: bold;
}

main .main__box table tr {
  color: #444;
}

main .main__box table tr:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

main .main__box table td {
  padding: 8px;
}

main .main__box table td img {
  width: 80px;
}

main .main__box canvas {
	width: 100%;
	height: 100%;
}

main .main__box .info__box {
	padding: 15px;
}

main .main__box .info__box .wrapper {
	padding: 20px 25px;
}

main .main__box .info__box .wrapper h2 {
	font-size: 28px;
	font-weight: 400;
	color: #fff;
}

main .main__box .info__box .wrapper p {
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

main .main__box form.form {
  margin: 30px 0;
}

main .main__box form.form .form__input-group label {
  font-size: 19px;
  font-weight: 300;
  color: #444;
  display: block;
}

#showPasswd span {
  cursor: pointer;
  padding: 5px 8px;
}

main .main__box form.form .form__input-group {
  margin: 15px 0;
  position: relative;
}

main .main__box form.form .form__input-group .image {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 2px solid #2b2b2b;
}

main .main__box form.form .form__input-group span {
  position: absolute;
  margin-top: 20px;
  right: 8px;
  cursor: pointer;
  padding: 5px 8px;
}

main .main__box form.form .form__input-group .form__input {
  width: 100%;
  height: 50px;
  margin-top: 8px;
  padding: 0 10px;
  color: #444;
  border: 1px solid #ccc;
  font-weight: normal;
  font-size: 16px;
}

main .main__box form.form input[type=file] {
  margin-top: 8px;
  display: none;
}

main .main__box form.form .form__input-group textarea {
  margin-top: 8px;
  font-size: 16px;
  font-weight: normal;
  color: #444;
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: vertical;
}

main .main__box form.form label#image-label {
  width: 200px;
  height: 55px;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  transition: .25s;
  border: 1px solid #333;
  font-size: 17px;
}

main .main__box form.form label#image-label:hover {
  color: #333;
  background-color: #fff;
}

main .main__box form.form .form__button {
  width: 200px;
  height: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #66bb6a;
  color: #f5f5f5;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  transition: .25s;
  border: 1px solid #66bb6a;
  text-decoration: none;
}

main .main__box form.form .form__button a {
	text-decoration: none;
	color: #f5f5f5;
	display: block;
}

main .main__box form.form .form__button:hover {
  color: #66bb6a;
  background-color: #fff;
}

main .main__box form.form .form__button:hover a {
	color: #66bb6a;
}

main .main__box form.form select {
  margin-top: 8px;
  font-size: 16px;
  font-weight: normal;
  color: #444;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 1px solid #ccc;
}

main .main__box form.form select option {
  font-size: 16px;
  font-weight: normal;
  color: #444;
  width: 100%;
  height: 50px;
}

main .main__box .action__box {
	width: 100%;
	border: 3px solid #eaeaea;
	border-radius: 10px;
	transition: .15s;
	cursor: pointer;
	margin: 10px 0;
}

main .main__box .action__box:hover {
	background: #eaeaea;
}

main .main__box .action__box a {
	text-decoration: none;
	padding: 10px 15px;
	display: block;
	width: 100%;
}

main .main__box .alert__message {
	width: 100%;
  text-align: center;
  padding: 12px 0;
  font-size: 20px;
  color: #f5f5f5;
  margin-bottom: 8px;
}

main .main__box .alert__message.message-success { background-color: #a5d6a7; }
main .main__box .alert__message.message-error { background-color: #f75353; }
main .main__box .alert__message.message-warn { background-color: #ffc107; }
